<h1>Registered Artificial Neural Networks</h1>
<a href="/#/networks/new" class="btn btn-info">
  <i class="glyphicon glyphicon-plus"></i>
  &nbsp;
  Setup a New Network
</a>
<div class='pull-right'>
  <a href="" class="btn btn-primary" ng-click='clearNetworkSelection()' ng-disabled='selectedNetworkCount() == 0'>
    Clear Selection
  </a>
  <a href="/#/networks/training-performance-comparison/setup" class="btn btn-primary" ng-disabled='selectedNetworkCount() == 0'>
    Compare Training Performance
  </a>
</div>
<hr>

<table class="table table-stripped table-bordered">
  <thead>
    <tr>
      <th width="1%"></th>
      <th>Network Name</th>
      <th>Layer Count</th>
      <th>Created at</th>
      <th width='1%'></th>
      <th width='1%'></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if='networks.length == 0'>
      <td align='center' colspan='11'>
        <i>No networks created yet.</i>
      </td>
    </tr>
    <tr ng-repeat='network in networks'>
      <td>
        <input type='checkbox' ng-click='toggleNetwork(network)' ng-checked='isNetworkSelected(network)'>
      </td>
      <td>{{ network.name }}</td>
      <td>
        {{ network.sizes.length }}
      </td>
      <td>
        {{ network.createdAt | date : 'medium' }} 
      </td>
      <td>
        <a href="/#/network/{{ network._id }}" class='btn btn-primary btn-sm'>
          <i class='glyphicon glyphicon-ok'></i>
          Details
        </a>
      </td>
      <td>
        <a href="" class='btn btn-danger btn-sm' ng-click='delete(network)'>
          <i class='glyphicon glyphicon-trash'></i>
          Delete
        </a>
      </td>
    </tr>
  </tbody>
</table>
<pagination total-items="pagination.count" ng-model="pagination.current" items-per-page='pagination.per_page' ng-change='loadNetworks()' previous-text="&lsaquo;" next-text="&rsaquo;" ng-if='pagination.count > pagination.per_page'></pagination>