<table class='table table-bordered'>
  <tbody>
    <tr>
      <td class='active'><b>Name</b></td>
      <td>
        <span ng-if='!isEdit'><a href='/#/network/{{ network._id }}'>{{ network.name }}</a></span>
        <input type='text' ng-model='network.name' ng-if='isEdit' class='form-control'>
      </td>
      <td width='1%' rowspan='{{ 6 + network.sizes.length }}' ng-if='!readonly'>
        <a href="" ng-click='edit()' title='edit'>
          <i class='glyphicon glyphicon-edit' ng-if='!isEdit'></i>
        </a>
        <a href="" ng-click='cancelEdit()' title='close'>
          <i class='glyphicon glyphicon-remove' ng-if='isEdit'></i>
        </a>
      </td>
    </tr>
    <tr ng-repeat='size in network.sizes track by $index'>
      <td class='active'><b>Layer {{ $index + 1 }} Size</b></td>
      <td>
        <span>{{ size }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Default Error Threshold</b></td>
      <td>
        <span ng-if='!isEdit'>{{ network.error_threshold }}</span>
        <input ng-if='isEdit' type='number' step='0.0001' min='0.0001' class='form-control input-number' ng-model='network.error_threshold' ng-required='true'>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Default Learning Rate</b></td>
      <td>
        <span ng-if='!isEdit'>{{ network.learning_rate }}</span>
        <input ng-if='isEdit' type='number' step='0.0001' min='0.0001' class='form-control input-number' ng-model='network.learning_rate' ng-required='true'>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Default Momentum</b></td>
      <td>
        <span ng-if='!isEdit'>{{ network.momentum }}</span>
        <input ng-if='isEdit' type='number' step='0.0001' min='0.0001' class='form-control input-number' ng-model='network.momentum' ng-required='true'>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Default Iteration Count</b></td>
      <td>
        <span ng-if='!isEdit'>{{ network.iteration_count }}</span>
        <input ng-if='isEdit' type='number' step='1' class='form-control input-number' ng-model='network.iteration_count' min='1' ng-required='true' ng-pattern="/^\d+$/">
      </td>
    </tr>
    <tr>
      <td class='active'><b>Created at</b></td>
      <td>{{ network.createdAt | date : 'medium' }}</td>
    </tr>
  </tbody>
</table>