<h1>New Network Setup</h1>
<hr>

<div class='row'>
  <form name='networkForm' class='form col-md-5' ng-submit='createNetwork()' novalidate>
    <div class='form-group' ng-class='{ "has-error": errors.name !== undefined }' >
      <label>Name</label>
      <input type='text' name='name' class='form-control' ng-model='network.name' ng-required='true'>
      <span class='help-block' ng-if='errors.name'>{{ errors.name.message }}</span>
    </div>
    <hr>
    <div class='form-group' ng-repeat='h in network.sizes track by $index'>
      <label>Layer {{ $index + 1 }} Size</label>
      <div class='input-group input-number'>
        <input type='number' class='form-control' ng-model='network.sizes[$index]' min='1' ng-required='true'>
        <span class='input-group-addon'>
          <a href="" title='Remove layer' ng-click='removeLayer($Index)'>x</a>
        </span>
      </div>
    </div>
    <div class='form-group'>
      <button type='button' class='btn btn-primary btn-sm' ng-click='network.sizes.push(1)'>
        <i class='glyphicon glyphicon-plus'></i>
        Add more layer
      </button>
    </div>
    <hr>
    <div class='form-group'>
      <label>Default Error Threshold</label>
      <input type='number' step='0.0001' min='0.0001' name='error_threshold' class='form-control input-number' ng-model='network.error_threshold' ng-required='true'>
    </div>
    <div class='form-group'>
      <label>Default Learning Rate</label>
      <input type='number' step='0.0001' min='0.0001' name='learning_rate' class='form-control input-number' ng-model='network.learning_rate' ng-required='true'>
    </div>
    <div class='form-group'>
      <label>Default Momentum</label>
      <input type='number' step='0.0001' min='0.0001' name='momentum' class='form-control input-number' ng-model='network.momentum' ng-required='true'>
    </div>
    <div class='form-group'>
      <label>Default Iteration Count</label>
      <input type='number' min='1' name='default_iteration_count' class='form-control input-number' ng-model='network.iteration_count' ng-required='true'>
    </div>
    <div class='form-group'>
      <button type='submit' class='btn btn-primary' ng-disabled='networkForm.$invalid || inProgress'>Save</button>
    </div>
  </form>
</div>
