<form class='form' ng-submit='searchDataset()'>
  <div class='form-group'>
    <label>Search Dataset</label>
    <input type='text' class='form-control' ng-model='search.text'>
  </div>
</form>
<div onload='options = { isForSelection : true, selected : options.selected }' ng-include="'datasets/_table.html'"></div>