<h1>Select Table</h1>
  Dataset: {{ options.dataset.name }}
  <a href="" ng-click="options.reset()">
    <i class='glyphicon glyphicon-edit'></i>
  </a>
<hr>

<table class="table table-stripped table-bordered">
  <thead>
    <tr>
      <th width="1%">#</th>
      <th>Table Name</th>
      <th width='1%'></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if='tables.length == 0'>
      <td align='center' colspan='3'>
        <i>No tables created yet.</i>
      </td>
    </tr>
    <tr ng-repeat='table in tables'>
      <td>{{ $index + 1 }}</td>
      <td>{{ table.label.name + ' ' + table.label.unit }}</td>
      <td>
        <button class='btn btn-primary' ng-click='options.selected(table)' title="{{ table.label.name + ' ' + table.label.unit }}">Select</button>
      </td>
    </tr>
  </tbody>
</table>