<h1>Select Data Range</h1>
  Table: {{ options.table.label.name + ' ' + options.table.label.unit }}
  <a href="" ng-click="options.reset()">
    <i class='glyphicon glyphicon-edit'></i>
  </a>
<hr>
<form class='form' ng-submit='options.selected(range, adjustments)'>
  <div class="row">
    <div class="col-md-3">
      <label>Starting date</label>
      <p class="input-group">
        <input type="text" class="form-control" ng-change='loadLimit(range)' datepicker-popup="{{ 'MMM d, y' }}" ng-model="range.start" is-open="status.startingDateOpened" close-text="Close"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openStartingDate()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>Finishing date</label>
      <p class="input-group">
        <input type="text" class="form-control" ng-change='loadLimit(range)' datepicker-popup="{{ 'MMM d, y' }}" ng-model="range.finish" is-open="status.finishingDateOpened" close-text="Close"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openFinishingDate()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Data Threshold</label>
      <slider ng-model="adjustments.threshold" range="true" min="limit.min" max="limit.max"></slider>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label>Data Period</label>
      <div class='input-group'>
        <input type='number' class='form-control' ng-model='adjustments.period'>
        <span class='input-group-addon'>Days</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <br>
      <button type='submit' class='btn btn-primary'>Submit</button>
    </div>
  </div>
</form>
