<h1>Setup Network Training Performance Comparison</h1>
<hr>
<table class='table table-bordered'>
  <tr ng-repeat-start="nt in networkTrainings|orderBy:'network.name'" class='active'>
    <td colspan='3'><b>{{ nt.network.name }}</b></td>
  </tr>
  <tr ng-repeat-end ng-repeat='training in nt.trainings'>
    <td width='1%'>
      <input type='checkbox' ng-click='toggleNetworkTraining(training)' ng-checked='isNetworkTrainingSelected(training)'>
    </td>
    <td>
      {{ training.updatedAt | date:'medium' }}
    </td>
    <td>
      <input type='text' class='form-control' ng-change='{{ setNetworkTrainingLegend(training) }}' ng-model='networkTrainingLegends[training._id]'>
    </td>
  </tr>
</table>

<div class='pull-right'>
  <a href="" class="btn btn-primary" ng-click='clearNetworkTrainingSelection()' ng-disabled='selectedNetworkTrainingCount() == 0'>
    Clear Selection
  </a>
  <a href="/#/networks/training-performance-comparison" class="btn btn-primary" ng-disabled='selectedNetworkTrainingCount() == 0'>
    Continue
  </a>
</div>