<h1>Network Details</h1>
<hr>
<form name='editNetworkForm' ng-submit='updateNetwork()' novalidate>
  <div class='row'>
    <div class='col-md-4'>
      <div ng-include="'networks/network-table.html'"></div>
      <button type='submit' class='btn btn-primary' ng-if='isEdit' ng-disabled='editNetworkForm.$invalid'>
        Save
      </button>
      <a href='/#/network/{{ network._id }}/train' class='btn btn-success'>
        Train
      </a>
      <a href='/#/network/{{ network._id }}/simulate' class='btn btn-info'>
        Simulate
      </a>
    </div>
    <div class='col-md-4'>
      <div ng-controller='NetworkTrainingHistoryController'>
        <div ng-include="'network-trainings/history.html'"></div>
      </div>
    </div>
    <div class='col-md-4'>
      <div ng-controller='NetworkSimulationHistoryController'>
        <div ng-include="'network-simulations/history.html'"></div>
      </div>
    </div>
  </div>
</form>