<h1>Network Simulation Setup</h1>
<a href='/#/network/{{ network._id }}'>{{ network.name }}</a>
<hr>
<tabset>
  <tab disable='true' active='currentStep == 1'>
    <tab-heading>
      <b>1. Select Input Data</b>
    </tab-heading>
    <div style='padding-top: 20px' ng-if="!networkSimulation.input.dataset" ng-controller='SelectDatasetController'>
      <div ng-include="'networks/search-dataset.html'" onload="init({ selected : inputDatasetSelected })"></div>
    </div>
    <div style='padding-top: 20px' ng-if="networkSimulation.input.dataset && !networkSimulation.input.table" ng-controller='SelectTableController'>
      <div ng-include="'networks/select-table.html'" onload="init({ dataset: networkSimulation.input.dataset, reset: selectInputDataset, selected: inputTableSelected })"></div>
    </div>
    <div style='padding-top: 20px' ng-if="networkSimulation.input.table" ng-controller='SelectDataRangeController'>
      <div ng-include="'networks/select-data-range.html'" onload="init({ table: networkSimulation.input.table, reset: selectInputTable, selected: inputDataRangeSelected })"></div>
    </div>
  </tab>
  <tab disable='true' active='currentStep == 2'>
    <tab-heading>
      <b>2. Select Validation Data</b>
    </tab-heading>
    <div style='padding-top: 20px' ng-if="!networkSimulation.validation.dataset" ng-controller='SelectDatasetController'>
      <div ng-include="'networks/search-dataset.html'" onload="init({ selected : outputDatasetSelected })"></div>
    </div>
    <div style='padding-top: 20px' ng-if="networkSimulation.validation.dataset && !networkSimulation.validation.table" ng-controller='SelectTableController'>
      <div ng-include="'networks/select-table.html'" onload="init({ dataset: networkSimulation.validation.dataset, reset: selectOutputDataset, selected: outputTableSelected })"></div>
    </div>
    <div style='padding-top: 20px' ng-if="networkSimulation.validation.table" ng-controller='SelectDataRangeController'>
      <div ng-include="'networks/select-data-range.html'" onload="init({ table: networkSimulation.validation.table, reset: selectOutputTable, selected: outputDataRangeSelected })"></div>
    </div>
  </tab>
  <tab disable='true' active='currentStep == 3'>
    <tab-heading>
      <b>3. Review</b>
    </tab-heading>
    <div style='padding-top: 20px'>
      <div ng-include="'networks/simulation-review.html'"></div>
    </div>
  </tab>
</tabset>
<br>
<button class='btn btn-primary' ng-click='prevStep()' ng-if='isPrevStepShown()'>
  <i class='glyphicon glyphicon-chevron-left'></i>
  Previous
</button>
<button class='btn btn-primary pull-right' ng-click='nextStep()' ng-if='currentStep < 3 && currentStep > 2' ng-disabled='isNextStepDisabled()'>
  Next
  <i class='glyphicon glyphicon-chevron-right'></i>
</button>

<button class='btn btn-primary pull-right' ng-click='postNetworkSimulation()' ng-if='currentStep == 3' ng-disabled='inProgress'>
  Continue
  <i class='glyphicon glyphicon-chevron-right'></i>
</button>

<button class='btn btn-primary pull-right' ng-click='nextStep()' ng-if='currentStep == 2 && !networkSimulation.validation.dataset'>
  Skip
  <i class='glyphicon glyphicon-chevron-right'></i>
</button>