<h1>Review</h1>
<hr>
<div class='row'>
  <div class='col-md-6'>
    <h3>Network Simulation Configuration</h3>
    <div ng-include="'networks/simulation-review-table.html'"></div>
  </div>
  <div class='col-md-6'>
    <h3>Network Information</h3>
    <div ng-include="'networks/network-table.html'" ng-init='readonly=true'></div>
  </div>
</div>