<table class='table table-bordered'>
  <tbody>
    <tr>
      <td class='info' colspan='2'>
        <b>INPUT DATA</b>
      </td>
    </tr> 
    <tr>
      <td class='active'><b>Dataset</b></td>
      <td>
        <span>{{ networkSimulation.input.dataset.name }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Table</b></td>
      <td>
        <span>{{ networkSimulation.input.table.label.name + " " + networkSimulation.input.table.label.unit }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Data Range</b></td>
      <td>
        <span>{{ networkSimulation.input.range.start | date:'mediumDate' }}</span>
        -
        <span>{{ networkSimulation.input.range.finish | date:'mediumDate' }}</span>
      </td>
    </tr>
    <tr>
      <td class='active' colspan='2'><b>Data Adjustments</b></td>
    </tr>
    <tr>
      <td class='active'>Threshold</td>
      <td>
        <span>{{ networkSimulation.input.adjustments.threshold.min }}</span>
        -
        <span>{{ networkSimulation.input.adjustments.threshold.max }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'>Period</td>
      <td>
        {{ networkSimulation.input.adjustments.period }}
        {{ networkSimulation.input.adjustments.period < 2 ? 'day' : 'days' }}
      </td>
    </tr>

    <tr>
      <td class='info' colspan='2'>
        <b>VALIDATION DATA</b>
      </td>
    </tr> 
    <tr>
      <td class='active'><b>Dataset</b></td>
      <td>
        <span ng-if='networkSimulation.validation.dataset'>{{ networkSimulation.validation.dataset.name }}</span>
        <span ng-if='!networkSimulation.validation.dataset'>-</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Table</b></td>
      <td>
        <span ng-if='networkSimulation.validation.table'>{{ networkSimulation.validation.table.label.name + " " + networkSimulation.validation.table.label.unit }}</span>
        <span ng-if='!networkSimulation.validation.table'>-</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Data Range</b></td>
      <td>
        <span>{{ networkSimulation.validation.range.start | date:'mediumDate' }}</span>
        -
        <span>{{ networkSimulation.validation.range.finish | date:'mediumDate' }}</span>
      </td>
    </tr>
    <tr>
      <td class='active' colspan='2'><b>Data Adjustments</b></td>
    </tr>
    <tr>
      <td class='active'>Threshold</td>
      <td>
        <span>{{ networkSimulation.validation.adjustments.threshold.min }}</span>
        -
        <span>{{ networkSimulation.validation.adjustments.threshold.max }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'>Period</td>
      <td>
        {{ networkSimulation.validation.adjustments.period }}
        {{ networkSimulation.validation.adjustments.period < 2 ? 'day' : 'days' }}
      </td>
    </tr>
  </tbody>
</table>