<h1>Network Training Setup</h1>
<a href='/#/network/{{ network._id }}'>{{ network.name }}</a>
<hr>
<tabset>
  <tab disable='true' active='currentStep == 1'>
    <tab-heading>
      <b>1. Select Input Data</b>
    </tab-heading>
    <div style='padding-top: 20px' ng-if="!networkTraining.input.dataset" ng-controller='SelectDatasetController'>
      <div ng-include="'networks/search-dataset.html'" onload="init({ selected : inputDatasetSelected })"></div>
    </div>
    <div style='padding-top: 20px' ng-if="networkTraining.input.dataset && !networkTraining.input.table" ng-controller='SelectTableController'>
      <div ng-include="'networks/select-table.html'" onload="init({ dataset: networkTraining.input.dataset, reset: selectInputDataset, selected: inputTableSelected })"></div>
    </div>
    <div style='padding-top: 20px' ng-if="networkTraining.input.table" ng-controller='SelectDataRangeController'>
      <div ng-include="'networks/select-data-range.html'" onload="init({ table: networkTraining.input.table, reset: selectInputTable, selected: inputDataRangeSelected })"></div>
    </div>
  </tab>
  <tab disable='true' active='currentStep == 2'>
    <tab-heading>
      <b>2. Select Output Data</b>
    </tab-heading>
    <div style='padding-top: 20px' ng-if="!networkTraining.output.dataset" ng-controller='SelectDatasetController'>
      <div ng-include="'networks/search-dataset.html'" onload="init({ selected : outputDatasetSelected })"></div>
    </div>
    <div style='padding-top: 20px' ng-if="networkTraining.output.dataset && !networkTraining.output.table" ng-controller='SelectTableController'>
      <div ng-include="'networks/select-table.html'" onload="init({ dataset: networkTraining.output.dataset, reset: selectOutputDataset, selected: outputTableSelected })"></div>
    </div>
    <div style='padding-top: 20px' ng-if="networkTraining.output.table" ng-controller='SelectDataRangeController'>
      <div ng-include="'networks/select-data-range.html'" onload="init({ table: networkTraining.output.table, reset: selectOutputTable, selected: outputDataRangeSelected })"></div>
    </div>
  </tab>
  <tab disable='true' active='currentStep == 3'>
    <tab-heading>
      <b>3. Adjust Training Parameters</b>
    </tab-heading>
    <div style='padding-top: 20px'>
      <div ng-include="'networks/training-parametes-form.html'"></div>
    </div>
  </tab>
  <tab disable='true' active='currentStep == 4'>
    <tab-heading>
      <b>4. Review</b>
    </tab-heading>
    <div style='padding-top: 20px'>
      <div ng-include="'networks/training-review.html'"></div>
    </div>
  </tab>
</tabset>
<br>
<button class='btn btn-primary' ng-click='prevStep()' ng-if='isPrevStepShown()'>
  <i class='glyphicon glyphicon-chevron-left'></i>
  Previous
</button>
<button class='btn btn-primary pull-right' ng-click='nextStep()' ng-if='currentStep < 4 && currentStep > 2' ng-disabled='isNextStepDisabled()'>
  Next
  <i class='glyphicon glyphicon-chevron-right'></i>
</button>

<button class='btn btn-primary pull-right' ng-click='postNetworkTraining()' ng-if='currentStep == 4' ng-disabled='inProgress'>
  Continue
  <i class='glyphicon glyphicon-chevron-right'></i>
</button>