<h1>Network Training Performance Comparison</h1>
<hr>
<form class='form form-inline'>
  <div class='form-group'>
    <div class='input-group'>
      <input type='number' class='form-control' ng-model='dataRange.from' ng-change='createChartData()'>
      <span class='input-group-addon'>ms</span>
    </div>
    <div class='input-group'>
     -
    </div>
    <div class='input-group'>
      <input type='number' class='form-control' ng-model='dataRange.to' ng-change='createChartData()'>
      <span class='input-group-addon'>ms</span>
    </div>
  </div>
</form>
<br>
<br>
<nvd3 options='performanceChartOptions' data='performanceChartData'></nvd3>