<h1>Training Parameters</h1>
<hr>
<form name='networkTrainingForm' class='form' ng-init='addForm("networkTrainingForm", this)' novalidate >
  <div class='form-group'>
    <div class="checkbox">
      <label>
        <input type='checkbox' name='is_cso_enabled' ng-model='networkTraining.is_cso_enabled'>
        <b>Enable Cat Swarm Optimization</b>
      </label>
    </div>
  </div>
  <div class='form-group'>
    <label>Error Threshold</label>
    <input type='number' step='0.0001' min='0.0001' name='error_threshold' class='form-control input-number' ng-model='networkTraining.error_threshold' ng-required='true'>
  </div>
  <div class='form-group'>
    <label>Learning Rate</label>
    <input type='number' step='0.0001' min='0.0001' name='learning_rate' class='form-control input-number' ng-model='networkTraining.learning_rate' ng-required='true'>
  </div>
  <div class='form-group'>
    <label>Momentum</label>
    <input type='number' step='0.0001' min='0.0001' name='momentum' class='form-control input-number' ng-model='networkTraining.momentum' ng-required='true'>
  </div>
  <div class='form-group'>
    <label>Iteration Count</label>
    <input type='number' min='1' name='default_iteration_count' class='form-control input-number' ng-model='networkTraining.iteration_count' ng-required='true'>
  </div>
</form>