<table class='table table-bordered'>
  <tbody>
    <tr>
      <td class='info' colspan='2'>
        <b>TRAINING PARAMETERS</b>
      </td>
    </tr>
    <tr>
      <td class='active'><b>CSO Enabled</b></td>
      <td>
        <span class='label label-success' ng-show="networkTraining.is_cso_enabled">Yes</span>
        <span class='label label-danger' ng-show="!networkTraining.is_cso_enabled">No</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Error Threshold</b></td>
      <td>
        <span>{{ networkTraining.error_threshold }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Learning Rate</b></td>
      <td>
        <span>{{ networkTraining.learning_rate }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Momentum</b></td>
      <td>
        <span>{{ networkTraining.momentum }}</span>
      </td>
    </tr>
        <tr>
      <td class='active'><b>Iteration Count</b></td>
      <td>
        <span>{{ networkTraining.iteration_count }}</span>
      </td>
    </tr>
    
    <tr>
      <td class='info' colspan='2'>
        <b>INPUT DATA</b>
      </td>
    </tr> 
    <tr>
      <td class='active'><b>Dataset</b></td>
      <td>
        <span>{{ networkTraining.input.dataset.name }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Table</b></td>
      <td>
        <span>{{ networkTraining.input.table.label.name + " " + networkTraining.input.table.label.unit }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Data Range</b></td>
      <td>
        <span>{{ networkTraining.input.range.start | date:'mediumDate' }}</span>
        -
        <span>{{ networkTraining.input.range.finish | date:'mediumDate' }}</span>
      </td>
    </tr>
    <tr>
      <td class='active' colspan='2'><b>Data Adjustments</b></td>
    </tr>
    <tr>
      <td class='active'>Threshold</td>
      <td>
        <span>{{ networkTraining.input.adjustments.threshold.min }}</span>
        -
        <span>{{ networkTraining.input.adjustments.threshold.max }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'>Period</td>
      <td>
        {{ networkTraining.input.adjustments.period }}
        {{ networkTraining.input.adjustments.period < 2 ? 'day' : 'days' }}
      </td>
    </tr>

    <tr>
      <td class='info' colspan='2'>
        <b>OUTPUT DATA</b>
      </td>
    </tr> 
    <tr>
      <td class='active'><b>Dataset</b></td>
      <td>
        <span>{{ networkTraining.output.dataset.name }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Table</b></td>
      <td>
        <span>{{ networkTraining.output.table.label.name + " " + networkTraining.output.table.label.unit }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'><b>Data Range</b></td>
      <td>
        <span>{{ networkTraining.output.range.start | date:'mediumDate' }}</span>
        -
        <span>{{ networkTraining.output.range.finish | date:'mediumDate' }}</span>
      </td>
    </tr>
    <tr>
      <td class='active' colspan='2'><b>Data Adjustments</b></td>
    </tr>
    <tr>
      <td class='active'>Threshold</td>
      <td>
        <span>{{ networkTraining.output.adjustments.threshold.min }}</span>
        -
        <span>{{ networkTraining.output.adjustments.threshold.max }}</span>
      </td>
    </tr>
    <tr>
      <td class='active'>Period</td>
      <td>
        {{ networkTraining.output.adjustments.period }}
        {{ networkTraining.output.adjustments.period < 2 ? 'day' : 'days' }}
      </td>
    </tr>
  </tbody>
</table>