<div class='loading-frame' ng-if='isLoadingFrameVisible'>
  <div class='background'></div>
  <div class='content'>
    <center>
      <img src="/images/loading.gif" width='50'>
      <br>
      {{ loadingFrameMessage !== undefined ? loadingFrameMessage : "Loading.." }}
    </center>
  </div>
</div>