<span>
  <button type="button" class="navbar-toggle app-navbar-toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="app-navigation">
    <div class="jumbotron">
      <div class="container" style="padding: 10px 25px 0 25px;">
        <h1 style="margin-bottom:2px; font-size: 60px;">BNPFS</h1>
        <div style="font-size: 10px; margin: 0px 0px 0px 5px">Basic Needs Price Forecasting System</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-list nav-stacked app-nav">
            <li>
              <a class="{{ menu == 'home' ? 'active' : '' }}" href="#/" class="app-nav">Home</a>
            </li>
            <li>
              <a class="{{ menu == 'datasets' ? 'active' : '' }}" href="#/datasets" class="app-nav">Datasets</a>
            </li>
            <li>
              <a class="{{ menu == 'networks' ? 'active' : '' }}" href="#/networks" class="app-nav">Networks</a>
            </li>
<!--             <li>
              <a class="{{ menu == 'simulations' ? 'active' : '' }}" href="#/simulations" class="app-nav">Simulations</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</span>