<div class="right-menu">
  <div class="profic-container {{ isVisible ? 'on-visible' : '' }}">
      <img class="profic" src="{{ profic }}">
  </div>
  <div class="username-caption">{{ username }}</div>
  <ul class="menu-dropdown" style="display: {{ isVisible ? 'block' : 'none' }}">
    <span class="caret right-menu-caret" style=""></span>
    <li>
      <a href="/logout">logout</a>
    </li>
  </ul>
</div>