 <table class='table table-bordered'>
    <tbody>
      <tr>
        <td class='active'><b>Dataset Name</b></td>
        <td>{{ dataset.name }}</td>
      </tr>
      <tr>
        <td class='active'><b>Dataset Range</b></td>
        <td>
          {{ dataset.startingDate | date : 'mediumDate' }}
          -
          {{ dataset.finishingDate | date : 'mediumDate' }}
        </td>
      </tr>
      <tr>
        <td class='active'><b>Created at</b></td>
        <td>{{ dataset.createdAt | date : 'medium' }}</td>
      </tr> 
    </tbody>
  </table>