<table class="table table-stripped table-bordered">
  <thead>
    <tr>
      <th width="1%">#</th>
      <th>Dataset Name</th>
<!--       <th>Source</th> -->
      <th>Dataset Date</th>
      <th>Created at</th>
      <th>Tables Count</th>
      <th width='1%'></th>
      <th width='1%' ng-if='!options.isForSelection'></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if='datasets.length == 0'>
      <td align='center' colspan='7'>
        <i>No datasets created yet.</i>
      </td>
    </tr>
    <tr ng-repeat='dataset in datasets'>
      <td>{{ $index + 1 + (pagination.current-1) * pagination.per_page }}</td>
      <td>{{ dataset.name }}</td>
      <!-- <td>{{ dataset.source }}</td> -->
      <td>
        <span ng-if="dataset.source == 'internal'">
          {{ dataset.startingDate | date : 'mediumDate' }}
          -
          {{ dataset.finishingDate | date : 'mediumDate' }}
        </span>
      </td>
      <td>
        {{ dataset.createdAt | date : 'medium' }} 
      </td>
      <td>
        {{ dataset.table_ids.length }}
      </td>
      <td ng-if='!options.isForSelection'>
        <a href="#/datasets/{{ dataset._id }}/tables" class='btn btn-info btn-sm'>
          <i class='glyphicon glyphicon-ok'></i>
          Show Tables
        </a>
      </td>
      <td ng-if='!options.isForSelection'>
        <a href="" class='btn btn-danger btn-sm' ng-click='delete(dataset)'>
          <i class='glyphicon glyphicon-trash'></i>
          Delete
        </a>
      </td>
      <td ng-if='options.isForSelection'>
        <button class='btn btn-primary' ng-click='options.selected(dataset)' title='{{ dataset.name }}'>Select</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination total-items="pagination.count" ng-model="pagination.current" items-per-page='pagination.per_page' ng-change='loadDatasets()' previous-text="&lsaquo;" next-text="&rsaquo;" ng-if='pagination.count > pagination.per_page'></pagination>