<h1>New Dataset</h1>
<hr>

<!-- STEP 1 -->
<div ng-if="currentStep == 1">
  <form class="form-inline" name="dataset-step1">
    <b style="font-size: 15px;">Do you want to use the internal data?</b><br>
    <div class="radio">
      <label class="radio-inline">
        <input type="radio" value="internal" ng-model="newDataset.source">Yes
        &nbsp;
        <input type="radio" value="external" ng-model="newDataset.source">No
      </label>
    </div>
  </form>
  <br>
  <a ng-click="submitStep1();" class="btn btn-info">Continue &gt;&gt;</a>
</div>
<!-- /STEP 1 -->

<!-- STEP 2 -->
<div ng-if="currentStep == 2">
  <div class="row">
    <div class="col-md-3">
      <label>Starting date</label>
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{ 'MMM d, y' }}" ng-model="newDataset.startingDate" is-open="status.startingDateOpened" close-text="Close"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openStartingDate()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Finishing date</label>
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{ 'MMM d, y' }}" ng-model="newDataset.finishingDate" is-open="status.finishingDateOpened" close-text="Close"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openFinishingDate()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>
  
  <!-- <a ng-click="backToStep1();" class="btn btn-info">&lt;&lt; Back</a> -->
  <a ng-click="submitStep2();" class="btn btn-info">Continue &gt;&gt;</a>
</div>
<!-- /STEP 2 -->

<!-- STEP 3 -->
<div ng-if="currentStep == 3">
  <i>{{ selectedCount }} of {{ nameUnits.length }} tables selected</i>
  <br>
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th width="1%">
          <input type='checkbox' ng-click='toggleAllNameUnits($event)'>
        </th>
        <th>Name</th>
        <th>Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="nameUnit in nameUnits | orderBy:'name'">
        <td>
          <input type='checkbox' ng-model='selectedNameUnits[nameUnit._id]' ng-change='updateSelectedTables()'>
        </td>
        <td>{{ nameUnit.name }}</td>
        <td>{{ nameUnit.unit }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <a ng-click="backToStep2();" class="btn btn-info">&lt;&lt; Back</a>
  <a ng-click="submitStep3();" class="btn btn-info" ng-disabled='selectedCount == 0'>Continue &gt;&gt;</a>
</div>
<!-- /STEP 3 -->

<!-- FINAL STEP -->
<div ng-if="currentStep == 'final'">
  <table class="table table-condensed table-bordered" style='width: 40%'>
    <tbody>
      <tr>
        <td width="1%" class='text-bold'>Name</td>
        <td ng-class='{ "has-error": errors.name !== undefined }'>
          <input type='text' class='form-control' ng-model='newDataset.name' autofocus>
          <span class='help-block' ng-if='errors.name'>{{ errors.name.message }}</span>
        </td>
      </tr>
<!--       <tr>
        <td class='text-bold'>Source</td>
        <td>
          {{ newDataset.source }}
        </td>
      </tr> -->
      <tr>
        <td class='text-bold'>Starting Date</td>
        <td>
          {{ newDataset.startingDate | date:'MMM d, y' }}
        </td>
      </tr>
      <tr>
        <td class='text-bold'>Finishing Date</td>
        <td>
          {{ newDataset.finishingDate | date:'MMM d, y' }}
        </td>
      </tr>
      <tr>
        <td class='text-bold'>Table count</td>
        <td>
          {{ selectedCount }}
        </td>
      </tr>
    </tbody>
  </table>
  <a ng-click="backToStep3();" class="btn btn-info">&lt;&lt; Back</a>
  <a ng-click="finish();" class="btn btn-success" ng-disabled='newDataset.name.length == 0 || inProgress || !isEmpty(errors)'>Save &gt;&gt;</a>
</div>
<!-- FINAL STEP-->