@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "custom.less";
@import "loading-frame.less";
@import "navigation.less";
@import "right-menu.less";
@import "ui-service.less";

.transition(@list...) {
  -webkit-transition: @list;
  -moz-transition: @list;
  -ms-transition: @list;
  -o-transition: @list;
  transition: @list;
}

body {
  background-color: #fff;
  .main-view {
    padding: 50px 0px 0px 0px;
    height: 100%;
  }
}

.navbar {
  margin : 0px;
}

.app-container {
  padding: 30px 55px 30px;
}

.text-bold {
  font-weight: bold;
}

.input-number {
  width: 125px;
  text-align: right;
}

.table-sortable {
  thead {
    th {
      i.glyphicon {
        color: #ddd;
      }
      cursor: pointer;
      &:hover {
        background-color: #efefef;
      }
    }
  }
}