@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@navbar-default-bg: #12516C;
@navbar-default-border: #11455C;
@navbar-default-brand-hover-bg: #11455C;
@navbar-default-toggle-hover-bg: #11455C;
@navbar-default-toggle-icon-bar-bg: #fff;
@navbar-default-toggle-border-color: #fff;

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.svg#IcoMoon') format('svg'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@icon-font-path: '../bootstrap/fonts/';