.loading-frame {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .background {
    background-color: white;
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }

  .content {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20%;
    width: 100%;
    height: 100%;
  }
}