.app-navbar-toggle.navbar-toggle {
  display: block;
  margin: 0;
  border: none;
  float: left;
  padding: 18px 10px 18px 10px;
}

@app-navigation-min-width : 15%;
.app-navigation {
  position: fixed;
  top: 0px;
  left: -100%;

  min-width: @app-navigation-min-width;
  height: 100%;

  background-color: #fafafa;
  z-index: @zindex-navbar-fixed + 1;
  opacity: 0.8;
  .transition(~"opacity .5s ease-out, left .3s ease-out");

  &:hover {
    opacity: 1;
  }

  .container {
    width : 100%;
  }

  ul.nav.app-nav {
    font-size: 11px;
    > li {
      a {
        color: #888;
        &:hover{
          background: none;
          color: #222;
          font-weight: bold;
        }
        &:focus{
          background: none;
        }
        &.active {
          background: none;
          color: #222;
          font-weight: bold;
        }
      }
    }
  }

  .jumbotron {
    background-color: #11455C;
    color: white;
    > .container {
      padding: 10px 30px 0px 30px;
    }
    @media screen and (max-width: @screen-sm-min) {
      padding: @jumbotron-padding;
      > .container {
        padding: 22px 0px 0px;
      }
    }
  }
}