.right-menu {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2000;

  ul.menu-dropdown {
    display: none;
    list-style: none;
    list-style-position: outside;
    position: fixed;
    top: 48px;
    right: 2px;
    padding: 5px;
    min-width: 100px;
    background-color: white;
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
    box-shadow: 0px 0px 2px #222;

    .right-menu-caret {
      position: fixed;
      top: 44px;
      right: 8px;
      border-top:0px;
      border-bottom:4px solid;
      font-size:20px;
      color:white;
    }

    > li {
      > a {
        font-size: 12px;
        text-decoration: none;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  .username-caption {
    float: right;
    color: white;
    font-size: 11px;
    height: 50px;
    padding: 17px 0px 0px 0px;
  }

  .profic-container {
    float: right;
    padding: 5px;
    width: 50px;
    height: 50px;
    &:hover, &.on-visible  {
      background-color: @navbar-default-toggle-hover-bg;
    }
    .profic {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}