.dialog {
  position : fixed;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2001;

  .backdrop {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .box {
    position : fixed;
    left: 30%;
    top: 30%;
    background-color: white;
    min-height: 100px;
    width: 40%;
    box-shadow: 0px 0px 5px #000;

    .title {
      h4 { 
        margin:0; 
      }
      .close-btn {
        cursor: pointer;
        color: #aaa;
        text-decoration: none;
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        &:hover {
          color: #ccc;
        }
      }
      padding: 10px 10px 5px 10px;
      border-bottom: solid 1px #eee;
    }

    .body {
      padding: 10px;
      text-align: center;
    }

    .footer {
      text-align: right;
      padding: 5px 10px 10px 10px;
    }
  }
}