doctype
html(ng-app='fs-app')
  head
    title Basic Needs Price Forecasting System 
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')   
    meta(content='width=device-width,initial-scale=1,user-scalable=yes', name='viewport')
    script(type='text/javascript', src='socket.io/socket.io.js')   
    script(type='text/javascript', src='jquery/dist/jquery.min.js')   
    script(type='text/javascript', src='js/hammer.min.js')   
    script(type='text/javascript', src='bootstrap/dist/js/bootstrap.min.js')   
    script(type='text/javascript', src='underscore/underscore-min.js')
    script(type='text/javascript', src='angular/angular.min.js')   
    script(type='text/javascript', src='angular-underscore/angular-underscore.min.js')
    script(type='text/javascript', src='angular-route/angular-route.min.js')
    script(type='text/javascript', src='angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='socket.io-client/socket.io.js')
    script(type='text/javascript', src='d3/d3.js')
    script(type='text/javascript', src='nvd3/build/nv.d3.js')
    script(type='text/javascript', src='angular-nvd3/dist/angular-nvd3.js')
    script(type='text/javascript', src='seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')
    script(type='text/javascript', src='angular-bootstrap-slider/slider.js')
    link(rel='stylesheet', type='text/css', href='css/app.css')    
    link(rel='stylesheet', type='text/css', href='angular-bootstrap/ui-bootstrap-csp.css')    
    link(rel='stylesheet', type='text/css', href='nvd3/build/nv.d3.css')    
    link(rel='stylesheet', type='text/css', href='seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css')    
    script(type='text/javascript', src='js/app.js')
  body(style='height: 100vh;')
    loading:frame
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .navbar-header
        full:navigation      
        a.navbar-brand(href='#/')
          span(height='16', style='position:relative; top:2px; color: white') BNPFS
    div.app-container
      .main-view(ng-view='')

