<h1>Tables</h1>
<hr>
<div class='row'>
  <div class='col-md-4'>
    <div ng-include="'datasets/_detail_table.html'"></div>
  </div>
</div>
<table class="table table-stripped table-bordered">
  <thead>
    <tr>
      <th width="1%">#</th>
      <th>Name</th>
      <th>Unit</th>
      <th width='1%'></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if='datasets.length == 0'>
      <td align='center' colspan='3'>
        <i>No datasets created yet.</i>
      </td>
    </tr>
    <tr ng-repeat='table in tables'>
      <td>{{ $index + 1 }}</td>
      <td>{{ table.label.name }}</td>
      <td>{{ table.label.unit }}</td>
      <td>
        <a href="#/datasets/{{ dataset._id }}/tables/{{ table._id }}/rows" class='btn btn-primary btn-sm'>Show</a>
      </td>
    </tr>
  </tbody>
</table>