<h1>{{ table.label.name }} - {{ table.label.unit }}</h1>
<div class='row'>
  <div class='col-md-4'>
    <div ng-include="'datasets/_detail_table.html'"></div>
  </div>
</div>
<hr>

<table class="table table-stripped table-bordered table-sortable">
  <thead>
    <tr>
      <th width="1%">#</th>
      <th ng-click="sortBy('content.date')">
        <span class='pull-right'>
          <span ng-show="isShowSortIcon('content.date', 1)">
            <i class='glyphicon glyphicon-chevron-up'></i>
          </span>
          <span ng-show="isShowSortIcon('content.date', -1)">
            <i class='glyphicon glyphicon-chevron-down'></i>
          </span>
        </span>
        Date
      </th>
      <th ng-click="sortBy('content.value')">
        <span class='pull-right'>
          <span ng-show="isShowSortIcon('content.value', 1)">
            <i class='glyphicon glyphicon-chevron-up'></i>
          </span>
          <span ng-show="isShowSortIcon('content.value', -1)">
            <i class='glyphicon glyphicon-chevron-down'></i>
          </span>
        </span>
        Price
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if='datasets.length == 0'>
      <td align='center' colspan='3'>
        <i>Empty.</i>
      </td>
    </tr>
    <tr ng-repeat='row in rows'>
      <td>{{ $index + 1 + (pagination.current-1) * pagination.per_page }}</td>
      <td>{{ row.content.date | date:'mediumDate' }}</td>
      <td>{{ row.content.value }}</td>
    </tr>
  </tbody>
</table>
<pagination total-items="pagination.count" ng-model="pagination.current" items-per-page='pagination.per_page' ng-change='loadRows()' previous-text="&lsaquo;" next-text="&rsaquo;" ng-if='pagination.count > pagination.per_page'></pagination>