<h1>Network Training</h1>
<div class='row'>
  <div class='col-md-12'>
    <button class='btn btn-warning btn-sm' title='Pause Training' ng-show='!isFinished && !isPaused' ng-click='pauseTraining()' ng-disabled='isActionDisabled'>
      <i class='glyphicon glyphicon-pause'></i> Pause
    </button>
    <button class='btn btn-warning btn-sm' title='Resume Training' ng-show='!isFinished && isPaused' ng-click='resumeTraining()' ng-disabled='isActionDisabled'>
      <i class='glyphicon glyphicon-repeat'></i> Resume
    </button>

    <button class='btn btn-danger btn-sm' title='Stop Training' ng-show='!isFinished' ng-click='stopTraining()' ng-disabled='isActionDisabled'>
      <i class='glyphicon glyphicon-stop'></i> Stop
    </button>
    <button class='btn btn-success btn-sm' title='Start Training' ng-show='isFinished' ng-click='startTraining()' ng-disabled='isActionDisabled'>
      <span ng-show='!isTrainingExecuted'>
        <i class='glyphicon glyphicon-play'></i> Start
      </span>
      <span ng-show='isTrainingExecuted'>
        <i class='glyphicon glyphicon-repeat'></i> Restart
      </span>
    </button>

    <button class='btn btn-primary btn-sm' title='Commit Changes' ng-show='isFinished && hasPendingResult' ng-click='saveResult()' ng-disabled='isActionDisabled'>
      <i class='glyphicon glyphicon-floppy-disk'></i> Commit Changes
    </button>
    <button class='btn btn-info btn-sm' title='Show Performance Sheet' ng-show='isFinished && isTrainingExecuted && !isShowPerformanceStatistic' ng-click='showPerformaceStatistic()' ng-disabled='isActionDisabled'>
      <i class='glyphicon glyphicon-ok'></i> Show Performance Statistic
    </button>
    <button class='btn btn-info btn-sm' title='Show Performance Sheet' ng-show='isShowPerformanceStatistic' ng-click='isShowPerformanceStatistic = false' ng-disabled='isActionDisabled'>
      <i class='glyphicon glyphicon-remove'></i> Hide Performance Statistic
    </button>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-md-12'>
    <div class="progress progress-striped" ng-class="{ 'active': !isFinished }">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentOfIteration }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentOfIteration }}%;"></div>
    </div>
  </div>
</div>
<div ng-show='hasPendingResult'>
  <div>
    <b>Iteration</b> : {{ currentIteration }}/{{ networkTraining.iteration_count }}
  </div>
  <div>
    <b>Time Elapsed</b> : {{ timeElapsed/1000 }} seconds
  </div>
  <div title='Mean Squared Error'>
    <b>MSE</b> : {{ currentError }}
  </div>
</div>

<div ng-show='isShowPerformanceStatistic'>
  <hr>
  <h3>Performance Statistic</h3>
  <nvd3 options='performanceChartOptions' data='performanceChartData'></nvd3>
</div>

<hr>
<div class='row'>
  <div class='col-md-6'>
    <h3>Network Training Configuration</h3>
    <div ng-include="'networks/training-review-table.html'"></div>
  </div>
  <div class='col-md-5'>
    <h3>Network Information</h3>
    <div ng-include="'networks/network-table.html'" ng-init='readonly=true'></div>
  </div>
</div>