<h1>Welcome!</h1>
<hr>
<div class='row'>
  <div class='col-md-4'>
    <div ng-controller='NetworkTrainingHistoryController'>
      <div ng-include="'network-trainings/history.html'"></div>
    </div>
  </div>
  <div class='col-md-4'>
    <div ng-controller='NetworkSimulationHistoryController'>
      <div ng-include="'network-simulations/history.html'"></div>
    </div>
  </div>
</div>