<table class='table table-bordered'>
  <tbody>
    <tr>
      <td class='active' colspan='3'>
        <b>Simulation History</b>
      </td>
    </tr>
    <tr ng-show='history.length == 0'>
      <td colspan='3'>
        <center>
          <i>Empty.</i>
        </center>
      </td>
    </tr>
    <tr class='active' ng-show='history.length != 0'>
      <td width='1%'><b>#</b></td>
      <td><b>Date</b></td>
      <td><b>Status</b></td>
    </tr>
    <tr ng-repeat='h in history'>
      <td>{{ $index+1 + (pagination.current-1) * pagination.per_page }}</td>
      <td>
        <a href="#/network-simulation/{{ h._id }}">
          {{ h.updatedAt | date : 'medium'}}
        </a>
      </td>
      <td>
        <span ng-show='h.result' class='label label-success'>Executed</span>
        <span ng-show='!h.result' class='label label-warning'>Pending</span>
      </td>
    </tr>
    <tr>
      <td class='active' colspan='3'>
        <pagination total-items="pagination.count" ng-model="pagination.current" items-per-page='pagination.per_page' ng-change='loadHistory()' previous-text="&lsaquo;" next-text="&rsaquo;" ng-if='pagination.count > pagination.per_page'></pagination>
      </td>
    </tr>
  </tbody>
</table>