<table class='table table-bordered'>
  <tbody>
    <tr>
      <td class='active'>
        <b>TIME ELAPSED</b>
      </td>
      <td>{{ networkSimulation.result.time_elapsed/1000 }} seconds</td>
    </tr>

    <tr>
      <td class='active'>
        <b>MSE</b>
      </td>
      <td>
        {{ networkSimulation.result.mse ? networkSimulation.result.mse : '-' }}
      </td>
    </tr>

    <tr>
      <td class='active'>
        <b>Minimum Error Percentage</b>
      </td>
      <td>
        {{ networkSimulation.result.min_error_percentage ? networkSimulation.result.min_error_percentage : '-' }}
      </td>
    </tr>

    <tr>
      <td class='active'>
        <b>Maximum Error Percentage</b>
      </td>
      <td>
        {{ networkSimulation.result.max_error_percentage ? networkSimulation.result.max_error_percentage : '-' }}
      </td>
    </tr>
  </tbody>
</table>

<table class='table table-bordered'>
  <tbody>
    <tr>
      <td class='active' colspan='4'>
        <b>OUTPUT</b>
      </td>
    </tr>
    <tr>
      <td class='active' width='1%'>
        <b>#</b>
      </td>
      <td class='active'>
        <b>NETWORK OUTPUT</b>
      </td>
      <td class='active' ng-show='networkSimulation.result.validation'>
        <b>EXPECTED OUTPUT</b>
      </td>
      <td class='active' ng-show='networkSimulation.result.validation'>
        <b>ERROR</b>
      </td>
    </tr>
    <tr ng-repeat='o in networkSimulation.result.output'>
      <td>{{ $index+1 }}</td>
      <td>{{ o }}</td>
      <td ng-show='networkSimulation.result.validation'>{{ networkSimulation.result.validation[$index] }}</td>
      <td ng-show='networkSimulation.result.validation'>
        {{ networkSimulation.result.errors_in_percent[$index] }} %
      </td>
    </tr>
  </tbody>
</table>