<h1>Network Simulation</h1>

<div class='row'>
  <div class='col-md-12'>
    <button class='btn btn-success btn-sm' title='Start Simulation' ng-click='startSimulation()' ng-disabled='isActionDisabled || !isFinished'>
       <span ng-show='!networkSimulation.result'>
        <i class='glyphicon glyphicon-play'></i> Start
      </span>
      <span ng-show='networkSimulation.result'>
        <i class='glyphicon glyphicon-repeat'></i> Restart
      </span>
    </button>
    <button class='btn btn-info btn-sm' title='Show Result' ng-show='networkSimulation.result && !isShowResult' ng-click='showResult()' ng-disabled='isActionDisabled || !isFinished'>
      <i class='glyphicon glyphicon-ok'></i> Show Result
    </button>
    <button class='btn btn-info btn-sm' title='Hide Result' ng-show='networkSimulation.result && isShowResult' ng-click='hideResult()' ng-disabled='isActionDisabled || !isFinished'>
      <i class='glyphicon glyphicon-remove'></i> Hide Result
    </button>
  </div>
</div>

<hr>
<div class='row'>
  <div class='col-md-12'>
    <div class="progress progress-striped" ng-class="{ 'active': !isFinished }">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentOfIteration }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentOfIteration }}%;"></div>
    </div>
  </div>
</div>

<div ng-show='isShowResult'>
  <hr>
  <h3>Network Simulation Result</h3>
  <div ng-include="'network-simulations/result-table.html'"></div>
</div>

<hr>
<div class='row'>
  <div class='col-md-6'>
    <h3>Network Simulation Configuration</h3>
    <div ng-include="'networks/simulation-review-table.html'"></div>
  </div>
  <div class='col-md-5'>
    <h3>Network Information</h3>
    <div ng-include="'networks/network-table.html'" ng-init='readonly=true'></div>
  </div>
</div>